{% if user.is_authenticated %}
  <div class="sidebar">
    <ul class="list-group">
      <li class="list-group-item active">
        <a href="{% url "task_manager:update_worker" pk=user.id %}" style="text-decoration: none; color: inherit;">Profile: {{ user.username }}</a>
      </li>

      <li class="list-group-item">
        <form action="{% url 'task_manager:logout' %}" method="post">
          {% csrf_token %}
          <button type="submit" style="background: none; border: none; padding: 0; margin: 0; font: inherit; cursor: pointer; color: inherit;">Logout</button>
        </form>
      </li>

      <li class="list-group-item">
        <a href="{% url "task_manager:index" %}" style="text-decoration: none; color: inherit;">Home</a>
      </li>

      <li class="list-group-item">
        <a href="{% url "task_manager:workers_list" %}" style="text-decoration: none; color: inherit;">Workers</a>
      </li>

      <li class="list-group-item">
        <a href="{% url "task_manager:tasks_list" %}" style="text-decoration: none; color: inherit;">Tasks</a>
      </li>

      <li class="list-group-item">
        <a href="{% url "task_manager:positions_list" %}" style="text-decoration: none; color: inherit;">Positions</a>
      </li>

      <li class="list-group-item">
        <a href="{% url "task_manager:task_types_list" %}" style="text-decoration: none; color: inherit;">Task types</a>
      </li>
    </ul>
  </div>
{% endif %}
